<a href="https://colab.research.google.com/github/LeeSeungwon89/Kaggle_Dacon_Practice/blob/main/1.%20Porto_Seguro%E2%80%99s_Safe_Driver_Prediction_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle
from google.colab import files
files.upload()

In [2]:
ls -1ha kaggle.json

kaggle.json

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# Permission Warning이 발생하지 않도록 해줍니다.
!chmod 600 ~/.kaggle/kaggle.json

# 참가한 대회 리스트를 확인합니다.
# !kaggle competitions list

In [4]:
!kaggle competitions download -c porto-seguro-safe-driver-prediction

Downloading porto-seguro-safe-driver-prediction.zip to /content
 88% 67.0M/76.5M [00:01<00:00, 54.7MB/s]
100% 76.5M/76.5M [00:01<00:00, 71.0MB/s]

In [5]:
!ls

kaggle.json  porto-seguro-safe-driver-prediction.zip  sample_data

In [6]:
!unzip porto-seguro-safe-driver-prediction.zip

Archive:  porto-seguro-safe-driver-prediction.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

# **1. 데이터 준비**

데이터를 준비하겠습니다.

In [7]:
import numpy as np
import pandas as pd

# 최대 행렬 수를 설정합니다.
pd.set_option('display.max_column', 100)
pd.set_option('display.max_rows', 100)

# 데이터를 읽습니다.
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

# **2. 데이터 확인**

## **2.1. 데이터 개요**

### **2.1.1. train**

In [8]:
train

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,ps_ind_11_bin,ps_ind_12_bin,ps_ind_13_bin,ps_ind_14,ps_ind_15,ps_ind_16_bin,ps_ind_17_bin,ps_ind_18_bin,ps_reg_01,ps_reg_02,ps_reg_03,ps_car_01_cat,ps_car_02_cat,ps_car_03_cat,ps_car_04_cat,ps_car_05_cat,ps_car_06_cat,ps_car_07_cat,ps_car_08_cat,ps_car_09_cat,ps_car_10_cat,ps_car_11_cat,ps_car_11,ps_car_12,ps_car_13,ps_car_14,ps_car_15,ps_calc_01,ps_calc_02,ps_calc_03,ps_calc_04,ps_calc_05,ps_calc_06,ps_calc_07,ps_calc_08,ps_calc_09,ps_calc_10,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,0,0,0,0,0,0,11,0,1,0,0.7,0.2,0.718070,10,1,-1,0,1,4,1,0,0,1,12,2,0.400000,0.883679,0.370810,3.605551,0.6,0.5,0.2,3,1,10,1,10,1,5,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,0,0,0,0,0,0,3,0,0,1,0.8,0.4,0.766078,11,1,-1,0,-1,11,1,1,2,1,19,3,0.316228,0.618817,0.388716,2.449490,0.3,0.1,0.3,2,1,9,5,8,1,7,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,0,0,0,0,0,0,12,1,0,0,0.0,0.0,-1.000000,7,1,-1,0,-1,14,1,1,2,1,60,1,0.316228,0.641586,0.347275,3.316625,0.5,0.7,0.1,2,2,9,1,8,2,7,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,0,0,0,0,0,0,8,1,0,0,0.9,0.2,0.580948,7,1,0,0,1,11,1,1,3,1,104,1,0.374166,0.542949,0.294958,2.000000,0.6,0.9,0.1,2,4,7,1,8,4,2,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,0,0,0,0,0,0,9,1,0,0,0.7,0.6,0.840759,11,1,-1,0,-1,14,1,1,2,1,82,3,0.316070,0.565832,0.365103,2.000000,0.4,0.6,0.0,2,2,6,3,10,2,12,3,1,1,3,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595207,1488013,0,3,1,10,0,0,0,0,0,1,0,0,0,0,0,13,1,0,0,0.5,0.3,0.692820,10,1,-1,0,1,1,1,1,0,1,31,3,0.374166,0.684631,0.385487,2.645751,0.4,0.5,0.3,3,0,9,0,9,1,12,4,1,9,6,0,1,1,0,1,1
595208,1488016,0,5,1,3,0,0,0,0,0,1,0,0,0,0,0,6,1,0,0,0.9,0.7,1.382027,9,1,-1,0,-1,15,0,0,2,1,63,2,0.387298,0.972145,-1.000000,3.605551,0.2,0.2,0.0,2,4,8,6,8,2,12,4,1,3,8,1,0,1,0,1,1
595209,1488017,0,1,1,10,0,0,1,0,0,0,0,0,0,0,0,12,1,0,0,0.9,0.2,0.659071,7,1,-1,0,-1,1,1,1,2,1,31,3,0.397492,0.596373,0.398748,1.732051,0.4,0.0,0.3,3,2,7,4,8,0,10,3,2,2,6,0,0,1,0,0,0
595210,1488021,0,5,2,3,1,0,0,0,1,0,0,0,0,0,0,12,1,0,0,0.9,0.4,0.698212,11,1,-1,0,-1,11,1,1,2,1,101,3,0.374166,0.764434,0.384968,3.162278,0.0,0.7,0.0,4,0,9,4,9,2,11,4,1,4,2,0,1,1,1,0,0
595211,1488027,0,0,1,8,0,0,1,0,0,0,0,0,0,0,0,7,1,0,0,0.1,0.2,-1.000000,7,0,-1,0,-1,0,1,0,2,1,34,2,0.400000,0.932649,0.378021,3.741657,0.4,0.0,0.5,2,3,10,4,10,2,5,4,4,3,8,0,1,0,0,0,0

레코드 순서와 피처 'id'의 값은 순차적으로 일치하지 않습니다. 인덱스로 삼을 수 없는 고윳값입니다.

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595212 entries, 0 to 595211
Data columns (total 59 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              595212 non-null  int64
 1   target          595212 non-null  int64
 2   ps_ind_01       595212 non-null  int64
 3   ps_ind_02_cat   595212 non-null  int64
 4   ps_ind_03       595212 non-null  int64
 5   ps_ind_04_cat   595212 non-null  int64
 6   ps_ind_05_cat   595212 non-null  int64
 7   ps_ind_06_bin   595212 non-null  int64
 8   ps_ind_07_bin   595212 non-null  int64
 9   ps_ind_08_bin   595212 non-null  int64
 10  ps_ind_09_bin   595212 non-null  int64
 11  ps_ind_10_bin   595212 non-null  int64
 12  ps_ind_11_bin   595212 non-null  int64
 13  ps_ind_12_bin   595212 non-null  int64
 14  ps_ind_13_bin   595212 non-null  int64
 15  ps_ind_14       595212 non-null  int64
 16  ps_ind_15       595212 non-null  int64
 17  ps_ind_16_bin   595212 non-null  int64
 18  ps_ind_17_bin   595212 non-null  int64
 19  ps_ind_18_bin   595212 non-null  int64
 20  ps_reg_01       595212 non-null  float64
 21  ps_reg_02       595212 non-null  float64
 22  ps_reg_03       595212 non-null  float64
 23  ps_car_01_cat   595212 non-null  int64
 24  ps_car_02_cat   595212 non-null  int64
 25  ps_car_03_cat   595212 non-null  int64
 26  ps_car_04_cat   595212 non-null  int64
 27  ps_car_05_cat   595212 non-null  int64
 28  ps_car_06_cat   595212 non-null  int64
 29  ps_car_07_cat   595212 non-null  int64
 30  ps_car_08_cat   595212 non-null  int64
 31  ps_car_09_cat   595212 non-null  int64
 32  ps_car_10_cat   595212 non-null  int64
 33  ps_car_11_cat   595212 non-null  int64
 34  ps_car_11       595212 non-null  int64
 35  ps_car_12       595212 non-null  float64
 36  ps_car_13       595212 non-null  float64
 37  ps_car_14       595212 non-null  float64
 38  ps_car_15       595212 non-null  float64
 39  ps_calc_01      595212 non-null  float64
 40  ps_calc_02      595212 non-null  float64
 41  ps_calc_03      595212 non-null  float64
 42  ps_calc_04      595212 non-null  int64
 43  ps_calc_05      595212 non-null  int64
 44  ps_calc_06      595212 non-null  int64
 45  ps_calc_07      595212 non-null  int64
 46  ps_calc_08      595212 non-null  int64
 47  ps_calc_09      595212 non-null  int64
 48  ps_calc_10      595212 non-null  int64
 49  ps_calc_11      595212 non-null  int64
 50  ps_calc_12      595212 non-null  int64
 51  ps_calc_13      595212 non-null  int64
 52  ps_calc_14      595212 non-null  int64
 53  ps_calc_15_bin  595212 non-null  int64
 54  ps_calc_16_bin  595212 non-null  int64
 55  ps_calc_17_bin  595212 non-null  int64
 56  ps_calc_18_bin  595212 non-null  int64
 57  ps_calc_19_bin  595212 non-null  int64
 58  ps_calc_20_bin  595212 non-null  int64
dtypes: float64(10), int64(49)
memory usage: 267.9 MB

일견 결측치는 없어보이지만 대회 사이트의 데이터 설명란을 보면 -1이 결측치라고 설명합니다. 훈련 및 테스트 세트 모두에 해당합니다. 결측치가 포함된 피처와 결측치 개수는 아래 **2. 피처 확인** 챕터에서 상세히 확인해 보겠습니다.

In [10]:
train.describe()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,ps_ind_11_bin,ps_ind_12_bin,ps_ind_13_bin,ps_ind_14,ps_ind_15,ps_ind_16_bin,ps_ind_17_bin,ps_ind_18_bin,ps_reg_01,ps_reg_02,ps_reg_03,ps_car_01_cat,ps_car_02_cat,ps_car_03_cat,ps_car_04_cat,ps_car_05_cat,ps_car_06_cat,ps_car_07_cat,ps_car_08_cat,ps_car_09_cat,ps_car_10_cat,ps_car_11_cat,ps_car_11,ps_car_12,ps_car_13,ps_car_14,ps_car_15,ps_calc_01,ps_calc_02,ps_calc_03,ps_calc_04,ps_calc_05,ps_calc_06,ps_calc_07,ps_calc_08,ps_calc_09,ps_calc_10,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
count,5.952120e+05,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000
mean,7.438036e+05,0.036448,1.900378,1.358943,4.423318,0.416794,0.405188,0.393742,0.257033,0.163921,0.185304,0.000373,0.001692,0.009439,0.000948,0.012451,7.299922,0.660823,0.121081,0.153446,0.610991,0.439184,0.551102,8.295933,0.829931,-0.504899,0.725192,-0.157732,6.555340,0.910027,0.832080,1.328890,0.992136,62.215674,2.346072,0.379945,0.813265,0.276256,3.065899,0.449756,0.449589,0.449849,2.372081,1.885886,7.689445,3.005823,9.225904,2.339034,8.433590,5.441382,1.441918,2.872288,7.539026,0.122427,0.627840,0.554182,0.287182,0.349024,0.153318
std,4.293678e+05,0.187401,1.983789,0.664594,2.699902,0.493311,1.350642,0.488579,0.436998,0.370205,0.388544,0.019309,0.041097,0.096693,0.030768,0.127545,3.546042,0.473430,0.326222,0.360417,0.287643,0.404264,0.793506,2.508270,0.375716,0.788654,2.153463,0.844417,5.501445,0.347106,0.373796,0.978747,0.091619,33.012455,0.832548,0.058327,0.224588,0.357154,0.731366,0.287198,0.286893,0.287153,1.117219,1.134927,1.334312,1.414564,1.459672,1.246949,2.904597,2.332871,1.202963,1.694887,2.746652,0.327779,0.483381,0.497056,0.452447,0.476662,0.360295
min,7.000000e+00,0.000000,0.000000,-1.000000,0.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,1.000000,-1.000000,-1.000000,0.250619,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.719915e+05,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.400000,0.200000,0.525000,7.000000,1.000000,-1.000000,0.000000,-1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,32.000000,2.000000,0.316228,0.670867,0.333167,2.828427,0.200000,0.200000,0.200000,2.000000,1.000000,7.000000,2.000000,8.000000,1.000000,6.000000,4.000000,1.000000,2.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.435475e+05,0.000000,1.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,1.000000,0.000000,0.000000,0.700000,0.300000,0.720677,7.000000,1.000000,-1.000000,0.000000,0.000000,7.000000,1.000000,1.000000,2.000000,1.000000,65.000000,3.000000,0.374166,0.765811,0.368782,3.316625,0.500000,0.400000,0.500000,2.000000,2.000000,8.000000,3.000000,9.000000,2.000000,8.000000,5.000000,1.000000,3.000000,7.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,1.115549e+06,0.000000,3.000000,2.000000,6.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.000000,0.000000,0.000000,0.900000,0.600000,1.000000,11.000000,1.000000,0.000000,0.000000,1.000000,11.000000,1.000000,1.000000,2.000000,1.000000,93.000000,3.000000,0.400000,0.906190,0.396485,3.605551,0.700000,0.700000,0.700000,3.000000,3.000000,9.000000,4.000000,10.000000,3.000000,10.000000,7.000000,2.000000,4.000000,9.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,1.488027e+06,1.000000,7.000000,4.000000,11.000000,1.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,13.000000,1.000000,1.000000,1.000000,0.900000,1.800000,4.037945,11.000000,1.000000,1.000000,9.000000,1.000000,17.000000,1.000000,1.000000,4.000000,2.000000,104.000000,3.000000,1.264911,3.720626,0.636396,3.741657,0.900000,0.900000,0.900000,5.000000,6.000000,10.000000,9.000000,12.000000,7.000000,25.000000,19.000000,10.000000,13.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### **2.1.2. test**

In [11]:
test

,id,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,ps_ind_11_bin,ps_ind_12_bin,ps_ind_13_bin,ps_ind_14,ps_ind_15,ps_ind_16_bin,ps_ind_17_bin,ps_ind_18_bin,ps_reg_01,ps_reg_02,ps_reg_03,ps_car_01_cat,ps_car_02_cat,ps_car_03_cat,ps_car_04_cat,ps_car_05_cat,ps_car_06_cat,ps_car_07_cat,ps_car_08_cat,ps_car_09_cat,ps_car_10_cat,ps_car_11_cat,ps_car_11,ps_car_12,ps_car_13,ps_car_14,ps_car_15,ps_calc_01,ps_calc_02,ps_calc_03,ps_calc_04,ps_calc_05,ps_calc_06,ps_calc_07,ps_calc_08,ps_calc_09,ps_calc_10,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,0,0,1,8,1,0,0,1,0,0,0,0,0,0,0,12,1,0,0,0.5,0.3,0.610328,7,1,-1,0,-1,1,1,1,2,1,65,1,0.316228,0.669556,0.352136,3.464102,0.1,0.8,0.6,1,1,6,3,6,2,9,1,1,1,12,0,1,1,0,0,1
1,1,4,2,5,1,0,0,0,0,1,0,0,0,0,0,5,1,0,0,0.9,0.5,0.771362,4,1,-1,0,0,11,1,1,0,1,103,1,0.316228,0.606320,0.358329,2.828427,0.4,0.5,0.4,3,3,8,4,10,2,7,2,0,3,10,0,0,1,1,0,1
2,2,5,1,3,0,0,0,0,0,1,0,0,0,0,0,10,0,0,0,0.4,0.0,0.916174,11,1,-1,0,-1,14,1,1,2,1,29,3,0.400000,0.896239,0.398497,3.316625,0.6,0.6,0.6,2,3,7,4,6,3,12,4,0,2,4,0,0,0,0,0,0
3,3,0,1,6,0,0,1,0,0,0,0,0,0,0,0,4,1,0,0,0.1,0.2,-1.000000,7,1,-1,0,-1,1,1,1,2,1,40,2,0.374166,0.652110,0.381445,2.449490,0.1,0.5,0.5,2,1,7,3,12,1,13,5,1,0,5,1,0,1,0,0,0
4,4,5,1,7,0,0,0,0,0,1,0,0,0,0,0,4,1,0,0,0.9,0.4,0.817771,11,1,-1,0,-1,11,1,1,2,1,101,3,0.374166,0.812914,0.385097,3.316625,0.9,0.6,0.8,3,4,7,1,10,4,12,4,0,0,4,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892811,1488022,0,1,6,0,0,0,1,0,0,0,0,0,0,0,2,0,0,1,0.5,0.3,1.048809,0,1,-1,8,0,14,0,1,0,1,18,2,0.565685,1.528774,0.565685,3.605551,0.3,0.4,0.9,1,1,7,3,10,3,10,4,2,3,4,0,1,0,0,1,0
892812,1488023,5,3,5,1,0,0,0,1,0,0,0,0,0,0,11,1,0,0,0.7,1.0,1.246495,8,1,-1,0,0,10,1,0,0,1,83,2,0.424264,1.040567,0.418569,3.741657,0.3,0.2,0.6,1,3,7,3,10,4,9,6,2,2,11,0,0,1,1,0,0
892813,1488024,0,1,5,0,0,1,0,0,0,0,0,0,0,0,5,0,0,1,0.4,0.0,0.609303,11,1,-1,0,-1,11,1,0,1,1,17,2,0.374166,0.968992,0.390384,3.741657,0.3,0.3,0.9,2,1,10,4,8,2,8,5,2,2,11,0,1,1,0,0,0
892814,1488025,6,1,5,1,0,0,0,0,1,0,0,0,0,0,13,1,0,0,0.6,0.6,0.920937,10,0,-1,0,1,10,1,1,0,1,28,3,0.387298,0.725125,0.378153,2.645751,0.1,0.1,0.3,1,1,9,2,10,1,8,1,1,2,7,1,1,0,0,0,0
892815,1488026,7,1,4,1,0,0,0,0,1,0,0,0,0,0,12,1,0,0,0.9,0.8,0.992157,9,1,1,0,0,4,1,1,2,1,48,1,0.316228,0.637175,0.296648,3.316625,0.4,0.4,0.2,3,4,7,2,8,4,15,5,2,2,7,0,1,1,1,0,0

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892816 entries, 0 to 892815
Data columns (total 58 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              892816 non-null  int64
 1   ps_ind_01       892816 non-null  int64
 2   ps_ind_02_cat   892816 non-null  int64
 3   ps_ind_03       892816 non-null  int64
 4   ps_ind_04_cat   892816 non-null  int64
 5   ps_ind_05_cat   892816 non-null  int64
 6   ps_ind_06_bin   892816 non-null  int64
 7   ps_ind_07_bin   892816 non-null  int64
 8   ps_ind_08_bin   892816 non-null  int64
 9   ps_ind_09_bin   892816 non-null  int64
 10  ps_ind_10_bin   892816 non-null  int64
 11  ps_ind_11_bin   892816 non-null  int64
 12  ps_ind_12_bin   892816 non-null  int64
 13  ps_ind_13_bin   892816 non-null  int64
 14  ps_ind_14       892816 non-null  int64
 15  ps_ind_15       892816 non-null  int64
 16  ps_ind_16_bin   892816 non-null  int64
 17  ps_ind_17_bin   892816 non-null  int64
 18  ps_ind_18_bin   892816 non-null  int64
 19  ps_reg_01       892816 non-null  float64
 20  ps_reg_02       892816 non-null  float64
 21  ps_reg_03       892816 non-null  float64
 22  ps_car_01_cat   892816 non-null  int64
 23  ps_car_02_cat   892816 non-null  int64
 24  ps_car_03_cat   892816 non-null  int64
 25  ps_car_04_cat   892816 non-null  int64
 26  ps_car_05_cat   892816 non-null  int64
 27  ps_car_06_cat   892816 non-null  int64
 28  ps_car_07_cat   892816 non-null  int64
 29  ps_car_08_cat   892816 non-null  int64
 30  ps_car_09_cat   892816 non-null  int64
 31  ps_car_10_cat   892816 non-null  int64
 32  ps_car_11_cat   892816 non-null  int64
 33  ps_car_11       892816 non-null  int64
 34  ps_car_12       892816 non-null  float64
 35  ps_car_13       892816 non-null  float64
 36  ps_car_14       892816 non-null  float64
 37  ps_car_15       892816 non-null  float64
 38  ps_calc_01      892816 non-null  float64
 39  ps_calc_02      892816 non-null  float64
 40  ps_calc_03      892816 non-null  float64
 41  ps_calc_04      892816 non-null  int64
 42  ps_calc_05      892816 non-null  int64
 43  ps_calc_06      892816 non-null  int64
 44  ps_calc_07      892816 non-null  int64
 45  ps_calc_08      892816 non-null  int64
 46  ps_calc_09      892816 non-null  int64
 47  ps_calc_10      892816 non-null  int64
 48  ps_calc_11      892816 non-null  int64
 49  ps_calc_12      892816 non-null  int64
 50  ps_calc_13      892816 non-null  int64
 51  ps_calc_14      892816 non-null  int64
 52  ps_calc_15_bin  892816 non-null  int64
 53  ps_calc_16_bin  892816 non-null  int64
 54  ps_calc_17_bin  892816 non-null  int64
 55  ps_calc_18_bin  892816 non-null  int64
 56  ps_calc_19_bin  892816 non-null  int64
 57  ps_calc_20_bin  892816 non-null  int64
dtypes: float64(10), int64(48)
memory usage: 395.1 MB

In [13]:
test.describe()

,id,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,ps_ind_11_bin,ps_ind_12_bin,ps_ind_13_bin,ps_ind_14,ps_ind_15,ps_ind_16_bin,ps_ind_17_bin,ps_ind_18_bin,ps_reg_01,ps_reg_02,ps_reg_03,ps_car_01_cat,ps_car_02_cat,ps_car_03_cat,ps_car_04_cat,ps_car_05_cat,ps_car_06_cat,ps_car_07_cat,ps_car_08_cat,ps_car_09_cat,ps_car_10_cat,ps_car_11_cat,ps_car_11,ps_car_12,ps_car_13,ps_car_14,ps_car_15,ps_calc_01,ps_calc_02,ps_calc_03,ps_calc_04,ps_calc_05,ps_calc_06,ps_calc_07,ps_calc_08,ps_calc_09,ps_calc_10,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
count,8.928160e+05,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.00000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000,892816.000000
mean,7.441535e+05,1.902371,1.358613,4.413734,0.417361,0.408132,0.393246,0.257191,0.163659,0.185905,0.000373,0.001595,0.009376,0.001039,0.012383,7.296862,0.660591,0.120399,0.154973,0.611057,0.439868,0.551740,8.292038,0.82994,-0.504895,0.725798,-0.158449,6.564297,0.910144,0.832311,1.327911,0.992134,62.284293,2.346606,0.379957,0.813637,0.276431,3.068325,0.449632,0.450453,0.450054,2.371390,1.885328,7.687805,3.009537,9.225854,2.338538,8.443167,5.438478,1.440265,2.875013,7.540367,0.123720,0.627756,0.554660,0.287796,0.349344,0.152428
std,4.296830e+05,1.986503,0.663002,2.700149,0.493453,1.355068,0.488471,0.437086,0.369966,0.389030,0.019309,0.039905,0.096375,0.032223,0.127251,3.541948,0.473509,0.325428,0.361879,0.287699,0.404678,0.794023,2.508331,0.37570,0.788753,2.154886,0.844566,5.500485,0.347283,0.373590,0.978741,0.091530,33.003714,0.831666,0.058385,0.224779,0.356835,0.729005,0.287213,0.287373,0.287254,1.116953,1.136763,1.333521,1.415155,1.460560,1.248601,2.906361,2.330081,1.200620,1.694072,2.745882,0.329262,0.483403,0.497004,0.452736,0.476763,0.359435
min,0.000000e+00,0.000000,-1.000000,0.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.00000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,1.000000,-1.000000,0.141421,0.275778,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.720218e+05,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.400000,0.200000,0.524404,7.000000,1.00000,-1.000000,0.000000,-1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,32.000000,2.000000,0.316228,0.671234,0.333916,2.828427,0.200000,0.200000,0.200000,2.000000,1.000000,7.000000,2.000000,8.000000,1.000000,6.000000,4.000000,1.000000,2.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.443070e+05,1.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,1.000000,0.000000,0.000000,0.700000,0.300000,0.721110,7.000000,1.00000,-1.000000,0.000000,0.000000,7.000000,1.000000,1.000000,2.000000,1.000000,65.000000,3.000000,0.374166,0.766081,0.368782,3.316625,0.400000,0.500000,0.400000,2.000000,2.000000,8.000000,3.000000,9.000000,2.000000,8.000000,5.000000,1.000000,3.000000,7.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,1.116308e+06,3.000000,2.000000,6.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.000000,0.000000,0.000000,0.900000,0.600000,1.002185,11.000000,1.00000,0.000000,0.000000,1.000000,11.000000,1.000000,1.000000,2.000000,1.000000,94.000000,3.000000,0.400000,0.906132,0.396485,3.605551,0.700000,0.700000,0.700000,3.000000,3.000000,9.000000,4.000000,10.000000,3.000000,10.000000,7.000000,2.000000,4.000000,9.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,1.488026e+06,7.000000,4.000000,11.000000,1.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,13.000000,1.000000,1.000000,1.000000,0.900000,1.800000,4.423517,11.000000,1.00000,1.000000,9.000000,1.000000,17.000000,1.000000,1.000000,4.000000,2.000000,104.000000,3.000000,1.264911,4.031301,0.636396,3.741657,0.900000,0.900000,0.900000,5.000000,6.000000,10.000000,9.000000,12.000000,7.000000,25.000000,20.000000,11.000000,15.000000,28.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### **2.1.3 submission**

In [14]:
submission

             id  target
0             0  0.0364
1             1  0.0364
2             2  0.0364
3             3  0.0364
4             4  0.0364
...         ...     ...
892811  1488022  0.0364
892812  1488023  0.0364
892813  1488024  0.0364
892814  1488025  0.0364
892815  1488026  0.0364

[892816 rows x 2 columns]

이진분류 문제지만 타깃값이 소수이며, 타깃값이 1일 확률값입니다. 이 값과 같은 형식으로 값을 구성해야 합니다. 다시 말해, 운전자가 보험금을 청구하는 경우가 1이고, 각 레코드를 토대로 예측한 타깃값이 1일 확률을 요구합니다.

In [15]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892816 entries, 0 to 892815
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      892816 non-null  int64
 1   target  892816 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 13.6 MB

## **2.2. 피처 확인**

각 피처를 확인해 보겠습니다. 피처 개수가 많으므로 범주별로 확인할 필요가 있습니다.

### **2.2.1. 피처 요약**

피처를 요약하겠습니다. 참고로 결측치를 확인하려면 -1 값을 결측치로 인식하도록 코드로 지정해야 합니다.

In [16]:
def feature_table(df):
    # 데이터 크기를 출력합니다.    
    print(df.shape)
    # 피처 이름과 유형을 담은 데이터프레임을 생성합니다.   
    feature_description = pd.DataFrame(df.dtypes, columns=['type'])
    # 피처 이름 피처가 인덱스이므로 인덱스를 리셋하여 새 인덱스를 만듭니다.
    feature_description = feature_description.reset_index()
    # 피처 이름을 값으로 가진 피처명은 'index'입니다. 'feature'로 변환합니다.
    feature_description = feature_description.rename(columns={'index': 'feature'})
    # 각 피처가 가진 첫 번째 ~ 다섯 번째 값을 출력합니다.
    feature_description['first_value'] = df.loc[0].values
    feature_description['second_value'] = df.loc[1].values
    feature_description['third_value'] = df.loc[2].values
    feature_description['fourth_value'] = df.loc[3].values
    feature_description['fifth_value'] = df.loc[4].values
    # 고윳값 개수를 산출합니다.
    feature_description['eigenvalue_count'] = df.nunique().values
    # 결측치 개수를 산출합니다.
    feature_description['null_count'] = (df == -1).sum().values

    return feature_description

In [17]:
feature_table(train)

(595212, 59)

,feature,type,first_value,second_value,third_value,fourth_value,fifth_value,eigenvalue_count,null_count
0,id,int64,7.000000,9.000000,13.000000,16.000000,17.000000,595212,0
1,target,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
2,ps_ind_01,int64,2.000000,1.000000,5.000000,0.000000,0.000000,8,0
3,ps_ind_02_cat,int64,2.000000,1.000000,4.000000,1.000000,2.000000,5,216
4,ps_ind_03,int64,5.000000,7.000000,9.000000,2.000000,0.000000,12,0
5,ps_ind_04_cat,int64,1.000000,0.000000,1.000000,0.000000,1.000000,3,83
6,ps_ind_05_cat,int64,0.000000,0.000000,0.000000,0.000000,0.000000,8,5809
7,ps_ind_06_bin,int64,0.000000,0.000000,0.000000,1.000000,1.000000,2,0
8,ps_ind_07_bin,int64,1.000000,0.000000,0.000000,0.000000,0.000000,2,0
9,ps_ind_08_bin,int64,0.000000,1.000000,1.000000,0.000000,0.000000,2,0
10,ps_ind_09_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
11,ps_ind_10_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
12,ps_ind_11_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
13,ps_ind_12_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
14,ps_ind_13_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
15,ps_ind_14,int64,0.000000,0.000000,0.000000,0.000000,0.000000,5,0
16,ps_ind_15,int64,11.000000,3.000000,12.000000,8.000000,9.000000,14,0
17,ps_ind_16_bin,int64,0.000000,0.000000,1.000000,1.000000,1.000000,2,0
18,ps_ind_17_bin,int64,1.000000,0.000000,0.000000,0.000000,0.000000,2,0
19,ps_ind_18_bin,int64,0.000000,1.000000,0.000000,0.000000,0.000000,2,0
20,ps_reg_01,float64,0.700000,0.800000,0.000000,0.900000,0.700000,10,0
21,ps_reg_02,float64,0.200000,0.400000,0.000000,0.200000,0.600000,19,0
22,ps_reg_03,float64,0.718070,0.766078,-1.000000,0.580948,0.840759,5013,107772
23,ps_car_01_cat,int64,10.000000,11.000000,7.000000,7.000000,11.000000,13,107
24,ps_car_02_cat,int64,1.000000,1.000000,1.000000,1.000000,1.000000,3,5
25,ps_car_03_cat,int64,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,3,411231
26,ps_car_04_cat,int64,0.000000,0.000000,0.000000,0.000000,0.000000,10,0
27,ps_car_05_cat,int64,1.000000,-1.000000,-1.000000,1.000000,-1.000000,3,266551
28,ps_car_06_cat,int64,4.000000,11.000000,14.000000,11.000000,14.000000,18,0
29,ps_car_07_cat,int64,1.000000,1.000000,1.000000,1.000000,1.000000,3,11489
30,ps_car_08_cat,int64,0.000000,1.000000,1.000000,1.000000,1.000000,2,0
31,ps_car_09_cat,int64,0.000000,2.000000,2.000000,3.000000,2.000000,6,569
32,ps_car_10_cat,int64,1.000000,1.000000,1.000000,1.000000,1.000000,3,0
33,ps_car_11_cat,int64,12.000000,19.000000,60.000000,104.000000,82.000000,104,0
34,ps_car_11,int64,2.000000,3.000000,1.000000,1.000000,3.000000,5,5
35,ps_car_12,float64,0.400000,0.316228,0.316228,0.374166,0.316070,184,1
36,ps_car_13,float64,0.883679,0.618817,0.641586,0.542949,0.565832,70482,0
37,ps_car_14,float64,0.370810,0.388716,0.347275,0.294958,0.365103,850,42620
38,ps_car_15,float64,3.605551,2.449490,3.316625,2.000000,2.000000,15,0
39,ps_calc_01,float64,0.600000,0.300000,0.500000,0.600000,0.400000,10,0
40,ps_calc_02,float64,0.500000,0.100000,0.700000,0.900000,0.600000,10,0
41,ps_calc_03,float64,0.200000,0.300000,0.100000,0.100000,0.000000,10,0
42,ps_calc_04,int64,3.000000,2.000000,2.000000,2.000000,2.000000,6,0
43,ps_calc_05,int64,1.000000,1.000000,2.000000,4.000000,2.000000,7,0
44,ps_calc_06,int64,10.000000,9.000000,9.000000,7.000000,6.000000,11,0
45,ps_calc_07,int64,1.000000,5.000000,1.000000,1.000000,3.000000,10,0
46,ps_calc_08,int64,10.000000,8.000000,8.000000,8.000000,10.000000,11,0
47,ps_calc_09,int64,1.000000,1.000000,2.000000,4.000000,2.000000,8,0
48,ps_calc_10,int64,5.000000,7.000000,7.000000,2.000000,12.000000,26,0
49,ps_calc_11,int64,9.000000,3.000000,4.000000,2.000000,3.000000,20,0
50,ps_calc_12,int64,1.000000,1.000000,2.000000,2.000000,1.000000,11,0
51,ps_calc_13,int64,5.000000,1.000000,7.000000,4.000000,1.000000,14,0
52,ps_calc_14,int64,8.000000,9.000000,7.000000,9.000000,3.000000,24,0
53,ps_calc_15_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
54,ps_calc_16_bin,int64,1.000000,1.000000,1.000000,0.000000,0.000000,2,0
55,ps_calc_17_bin,int64,1.000000,1.000000,1.000000,0.000000,0.000000,2,0
56,ps_calc_18_bin,int64,0.000000,0.000000,0.000000,0.000000,1.000000,2,0
57,ps_calc_19_bin,int64,0.000000,1.000000,1.000000,0.000000,1.000000,2,0
58,ps_calc_20_bin,int64,1.000000,0.000000,0.000000,0.000000,0.000000,2,0

In [18]:
feature_table(test)

(892816, 58)

,feature,type,first_value,second_value,third_value,fourth_value,fifth_value,eigenvalue_count,null_count
0,id,int64,0.000000,1.000000,2.000000,3.000000,4.000000,892816,0
1,ps_ind_01,int64,0.000000,4.000000,5.000000,0.000000,5.000000,8,0
2,ps_ind_02_cat,int64,1.000000,2.000000,1.000000,1.000000,1.000000,5,307
3,ps_ind_03,int64,8.000000,5.000000,3.000000,6.000000,7.000000,12,0
4,ps_ind_04_cat,int64,1.000000,1.000000,0.000000,0.000000,0.000000,3,145
5,ps_ind_05_cat,int64,0.000000,0.000000,0.000000,0.000000,0.000000,8,8710
6,ps_ind_06_bin,int64,0.000000,0.000000,0.000000,1.000000,0.000000,2,0
7,ps_ind_07_bin,int64,1.000000,0.000000,0.000000,0.000000,0.000000,2,0
8,ps_ind_08_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
9,ps_ind_09_bin,int64,0.000000,1.000000,1.000000,0.000000,1.000000,2,0
10,ps_ind_10_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
11,ps_ind_11_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
12,ps_ind_12_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
13,ps_ind_13_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
14,ps_ind_14,int64,0.000000,0.000000,0.000000,0.000000,0.000000,5,0
15,ps_ind_15,int64,12.000000,5.000000,10.000000,4.000000,4.000000,14,0
16,ps_ind_16_bin,int64,1.000000,1.000000,0.000000,1.000000,1.000000,2,0
17,ps_ind_17_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
18,ps_ind_18_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
19,ps_reg_01,float64,0.500000,0.900000,0.400000,0.100000,0.900000,10,0
20,ps_reg_02,float64,0.300000,0.500000,0.000000,0.200000,0.400000,19,0
21,ps_reg_03,float64,0.610328,0.771362,0.916174,-1.000000,0.817771,5046,161684
22,ps_car_01_cat,int64,7.000000,4.000000,11.000000,7.000000,11.000000,13,160
23,ps_car_02_cat,int64,1.000000,1.000000,1.000000,1.000000,1.000000,3,5
24,ps_car_03_cat,int64,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3,616911
25,ps_car_04_cat,int64,0.000000,0.000000,0.000000,0.000000,0.000000,10,0
26,ps_car_05_cat,int64,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,3,400359
27,ps_car_06_cat,int64,1.000000,11.000000,14.000000,1.000000,11.000000,18,0
28,ps_car_07_cat,int64,1.000000,1.000000,1.000000,1.000000,1.000000,3,17331
29,ps_car_08_cat,int64,1.000000,1.000000,1.000000,1.000000,1.000000,2,0
30,ps_car_09_cat,int64,2.000000,0.000000,2.000000,2.000000,2.000000,6,877
31,ps_car_10_cat,int64,1.000000,1.000000,1.000000,1.000000,1.000000,3,0
32,ps_car_11_cat,int64,65.000000,103.000000,29.000000,40.000000,101.000000,104,0
33,ps_car_11,int64,1.000000,1.000000,3.000000,2.000000,3.000000,5,1
34,ps_car_12,float64,0.316228,0.316228,0.400000,0.374166,0.374166,201,0
35,ps_car_13,float64,0.669556,0.606320,0.896239,0.652110,0.812914,83769,0
36,ps_car_14,float64,0.352136,0.358329,0.398497,0.381445,0.385097,885,63805
37,ps_car_15,float64,3.464102,2.828427,3.316625,2.449490,3.316625,15,0
38,ps_calc_01,float64,0.100000,0.400000,0.600000,0.100000,0.900000,10,0
39,ps_calc_02,float64,0.800000,0.500000,0.600000,0.500000,0.600000,10,0
40,ps_calc_03,float64,0.600000,0.400000,0.600000,0.500000,0.800000,10,0
41,ps_calc_04,int64,1.000000,3.000000,2.000000,2.000000,3.000000,6,0
42,ps_calc_05,int64,1.000000,3.000000,3.000000,1.000000,4.000000,7,0
43,ps_calc_06,int64,6.000000,8.000000,7.000000,7.000000,7.000000,10,0
44,ps_calc_07,int64,3.000000,4.000000,4.000000,3.000000,1.000000,10,0
45,ps_calc_08,int64,6.000000,10.000000,6.000000,12.000000,10.000000,12,0
46,ps_calc_09,int64,2.000000,2.000000,3.000000,1.000000,4.000000,8,0
47,ps_calc_10,int64,9.000000,7.000000,12.000000,13.000000,12.000000,26,0
48,ps_calc_11,int64,1.000000,2.000000,4.000000,5.000000,4.000000,21,0
49,ps_calc_12,int64,1.000000,0.000000,0.000000,1.000000,0.000000,11,0
50,ps_calc_13,int64,1.000000,3.000000,2.000000,0.000000,0.000000,16,0
51,ps_calc_14,int64,12.000000,10.000000,4.000000,5.000000,4.000000,25,0
52,ps_calc_15_bin,int64,0.000000,0.000000,0.000000,1.000000,0.000000,2,0
53,ps_calc_16_bin,int64,1.000000,0.000000,0.000000,0.000000,1.000000,2,0
54,ps_calc_17_bin,int64,1.000000,1.000000,0.000000,1.000000,1.000000,2,0
55,ps_calc_18_bin,int64,0.000000,1.000000,0.000000,0.000000,0.000000,2,0
56,ps_calc_19_bin,int64,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
57,ps_calc_20_bin,int64,1.000000,1.000000,0.000000,0.000000,1.000000,2,0

결측치 개수가 많은 피처가 제법 존재합니다.



---

업데이트 중

---